<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <style>
        ul{
            display: flex;
            margin: 2px;
            padding: 20px;         
            list-style: none;            
        }
         li{
            padding-left: 10px;
            background-color: rgb(172, 137, 137);
        }
        a{
            text-decoration: none;
        }
    </style>
   
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="About.us">About.us</a></li>
        <li><a href="/Registration">Registration</a></li>
        <li><a href="/Login">Login</a></li>
        <li><a href="/Contact.US">Contact.US</a></li>
    </ul>    
   
    <h1>HOME</h1> 
    <table>    
    <tr>
        <th>Enter Your Name :</th>
        <td><input type="text" name="Enter Your Name" ></td>
    </tr>

   <tr>
        <th>Male</th>
        <td><input type="radio" name="Male" ></td>
        <th>Female</th>
        <td><input type="radio" name="Female" ></td>
    </tr>

    <tr>   
        <th>Enter Your address:</th>
        <td><input type="text" name="Enter Your address"></td>
    <tr>
     
    <tr>
        <th>Enter Your Ph No:</th>
        <td><input type="text" name="Enter Your Ph No"></td>
    </tr>

    <tr>
        <th>Enter Your Email:</th>
        <td><input type="text" name="Enter Your Email"></td>
    </tr>


    </table>
    <button type="submit">submit</button>
</div>
</body>
</html>